*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100%;
    min-height: 250px;
    height: auto;
}
.parent{
    width: 1200px;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-rows: repeat(2, 250px); */
    gap: 10px;
}

